{% extends 'base.html.twig' %}

{% block title %}Hello TableController!{% endblock %}

{% block body %}
    <section>
        {{ form_start(form) }}
        <h2>Create table</h2>
        <form action="#">
            <fieldset>
                <p>
                    Name* <br />
                    <input type="text" name="Project" value="" />
                </p>
                <p>
                    Description<br />
                    <textarea name="Description" rows="6" cols="40"></textarea>
                </p>
                <p>
                    Access <br />
                    <select name=" access">
                        <option value="Private" selected="selected">Private</option>
                        <option value="Group" >Group</option>
                        <option value="My organization">My organization</option>
                        <option value="Project">Project</option>
                    </select>
                </p>
                <p>
                    <input type="reset" value="Cancel"/>
                    <input type="submit" value="Create"  />


                </p>

            </fieldset>
        </form>
        {{ form_end(form) }}

    </section>

{% endblock %}
