<html>
<head>
    <title>Menu design</title>
</head>
<body>
<style>
    {
    padding: 0;
    margin: 0;
    }
    {
       background-image:url(background.png);
       background-size: cover;
       background-position: center;
       box-sizing: border-box;
       font-family: sans-serif;

    }
    .menu-bar
    {
        background:rgb(255,215,0);
        text-align:center;
    }


</style>
<div class="menu-bar">
<ul>
    <li>Your work</li>
    <li>Project</li>
    <li>Table</li>
    <li>Ticket</li>
    <li>People</li>

</ul>
</div>
</body>
</html>